
// STYLING
/* Editor area **/
.CodeMirror, .CodeMirror-scroll {
    font-size: 14px; /* Corregir el default */
    background-color:  @background;
    color: @grey-800; text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}


/* PADDING */
/* Vertical padding around (content) */
.CodeMirror-lines {
  padding: 12px 0;
}
.CodeMirror pre {
    color: @grey-800; /* {, : , punto y coma */
}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: @grey-300; /* The little square between H and V scrollbars */
}
.CodeMirror-vscrollbar,.CodeMirror-hscrollbar {
   background-color: @grey-300;
}


#editor-holder .CodeMirror,
#editor-holder .CodeMirror-scroll {
    background-color: @background;
    color: @foreground;
}

.cm-tag.cm-bracket {
    color: @teal-600;
    text-shadow: @txt-shadown-c;
    /* <> & </> ***********************************/
}
